    
    <!-- ************************ Start Slider  ************************ -->
<section class="slider hidden-xs">
    <div class="container-fluid " style="width:100%;height=100%">
        <ul class="cb-slideshow">  
            <li>
                <span>Image xyz</span>
                <div>
                    <h3>Welcome at Code Club</h3>
                </div>
            </li>
            <li><span>Image 02</span><div><h3>Algorithm Learning</h3></div></li>
            <li><span>Image 03</span><div><h3>Scalable Code Writing</h3></div></li>
            <li><span>Image 04</span><div><h3>Drawing Skills</h3></div></li>
            <li><span>Image 05</span><div><h3>Game Competition</h3></div></li>
            <li><span>Image 06</span><div><h3>Team Work</h3></div></li> 
        </ul>   
    </div>
    <a href="#" class="down-btn"></a>
</section>
    
    <!-- ************************ End Slider  ************************ -->

    <!-- ************************ Start top 10  ************************ -->
<a name="stdAnchor"></a>
    <h2></h2>
<section class="top5">
    <div class="container">
        <div class="row">
            </br><h1 class="gfont">Top Students</h1>
            <div class="col-lg-9 flow_chart wow bounceInLeft" data-wow-duration="2s" 
                 data-wow-delay=".5s">
                <h3 class="gfont">Top-10 Students in CodeClub:</h3> </br>
                <div class="row">
                    <div class="col-md-9 hidden-xs" style="padding-left:30px;">
                   
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 97%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">1</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 90%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">2</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 85%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">3</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 80%;">
                              <span class="sr-only">83% Complete</span>
                                <p class="par">4</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 75%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">5</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 70%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">6</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 65%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">7</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 55%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">8</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 51%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">9</p>
                            </div>
                          </div>
                
                        <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 40%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">10</p>
                            </div>
                          </div>
                    </div><!-- end of bar div-->
                    <div class="col-md-3 ">
                        <h5><h4 >Student Names:</h4></h5>
                        <ol>
                            <li>Ali Salem.</li>
                            <li>Sara Younis.</li>
                            <li>Salam Zahdeh.</li>
                            <li>Naji Ibraheem.</li>
                            <li>Shaza Naser.</li>
                            <li>Ali Salem.</li>
                            <li>Sara Younis.</li>
                            <li>Salam Zahdeh.</li>
                            <li>Naji Ibraheem.</li>
                            <li>Shaza Naser.</li>
                        </ol>
                    </div>
                </div>
            </div>
        <div class="col-md-4 visible-md"></div>
        <div class="col-md-3 stdOfYear wow bounceInRight" data-wow-duration="2s"
             data-wow-delay=".5s">
            <h4 class="gfont">Student of the year</h4>
            <img src="images/student.jpg" alt="student" class="stdImg">
            <p>
              <h4 class="gfont">Yousef Jbour.</h4>
              <span class="gfont">125 pts.</span>
            </p>
        </div><!--student of the year -->
        </div>
    </div>
</section>
    <div class="clearfix"></div>
    <!--************************* End top 5  ************************ -->
    
    <!--************************* Start Event Section  ************************ -->
<a name="nxtEvntAnchor"></a>
<section class="event text-center">
    <div class="container">
        <h1 class="gfont">CodeClub Events</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 wow zoomIn" data-wow-duration="2s" data-wow-delay=".5s">
                <div class="panel panel-success">
                <div class="pull-right ">  <a href="/newevent">
          <span class="glyphicon glyphicon-plus pull-right btn btn-lg"></span>
        </a> </div>
                    <div class="panel-heading">

                    <h3 class="panel-title ">Drawing</h3>
                  
                    </div>
                     <div class="panel-body text-center">
                       <div class="row">
                           <div class="col-md-8 eventBox">
                               <p><span>Date: </span>17 Feb 2016.</p>
                               <p><span>Hour: </span>11:00 am.</p>
                               <p><span>Points: </span>25 pts.</p>
                               <p><span>Discreption: </span></p>
                               <p>As a part of smart homes, a subsystem consisting of three components including a neural network is designed to provide personalized services. Unique factor combinations of building specifics, user profiles and external influences lead to the necessity of self-adaptive systems for personal comfort. The system supports room temperature control in order to heat rooms energy.</p>
                               <button class="btn btn-success btn-block">Join Event</button> 
                           </div>
                           <div class="col-md-4 eventBox">
                               <img src="images/events/drawing.jpg" alt="event picture">
                           </div>
                           <div class="clear-fix">
                           
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div> 
            </div> <!-- End of first Event-->
        
    
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 wow zoomIn" data-wow-duration="2s" data-wow-delay=".5s">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                        <h3 class="panel-title">Sport</h3>
                        </div>
                         <div class="panel-body text-center">
                           <div class="row">
                               <div class="col-md-8 eventBox">
                                   <p><span>Date: </span>17 Feb 2016.</p>
                                   <p><span>Hour: </span>11:00 am.</p>
                                   <p><span>Points: </span>25 pts.</p>
                                   <p><span>Discreption: </span></p>
                                   <p>As a part of smart homes, a subsystem consisting of three components including a neural network is designed to provide personalized services. Unique factor combinations of building specifics, user profiles and external influences lead to the necessity of self-adaptive systems for personal comfort. The system supports room temperature control in order to heat rooms energy.</p>
                                 <button class="btn btn-success btn-block">Join Event</button>  
                               </div>
                               <div class="col-md-4 eventBox">
                                   <img src="images/events/ball.jpg" alt="event picture">
                               </div>
                               <div class="clear-fix">

                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div> 
            </div><!-- End of Second Event-->
        
            <!--******************  Old Events  ****************-->
            <a name="oldEvntAnchor"></a>
            <h1 class="gfont">Old Events</h1>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 wow zoomIn" data-wow-duration="2s" data-wow-delay=".5s">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                        <h3 class="panel-title">Game Challenges</h3>
                        </div>
                         <div class="panel-body text-center">
                           <div class="row">
                               <div class="col-md-8 eventBox">
                                   <p><span>Date: </span>17 Feb 2016.</p>
                                   <p><span>Hour: </span>11:00 am.</p>
                                   <p><span>Points: </span>25 pts.</p>
                                   <p><span>Discreption: </span></p>
                                   <p>As a part of smart homes, a subsystem consisting of three components including a neural network is designed to provide personalized services. Unique factor combinations of building specifics, user profiles and external influences lead to the necessity of self-adaptive systems for personal comfort. The system supports room temperature control in order to heat rooms energy.</p>
                                  
                               </div>
                               <div class="col-md-4 eventBox">
                                   <img src="images/events/games.jpg" alt="event picture">
                               </div>
                               <div class="clear-fix">

                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                </div><!-- End of Second Event-->
                
        
        </div>
    </div>
</section>
    <!--************************* End Event Section  ************************ -->
        
    <!-- ************************ Start Slider  ************************ -->
<section class="slider hidden-xs">
    <div class="container-fluid " style="width:100%;height=100%">
        <ul class="cb-slideshow">  
            <li>
                <span>Image xyz</span>
                <div>
                    <h3>Welcome at Code Club</h3>
                </div>
            </li>
            <li><span>Image 02</span><div><h3>Algorithm Learning</h3></div></li>
            <li><span>Image 03</span><div><h3>Scalable Code Writing</h3></div></li>
            <li><span>Image 04</span><div><h3>Drawing Skills</h3></div></li>
            <li><span>Image 05</span><div><h3>Game Competition</h3></div></li>
            <li><span>Image 06</span><div><h3>Team Work</h3></div></li> 
        </ul>   
    </div>
    <a href="#" class="down-btn"></a>
</section>
    
    <!-- ************************ End Slider  ************************ -->

    <!-- ************************ Start top 10  ************************ -->
<a name="stdAnchor"></a>
    <h2></h2>
<section class="top5">
    <div class="container">
        <div class="row">
            </br><h1 class="gfont">Top Students</h1>
            <div class="col-lg-9 flow_chart wow bounceInLeft" data-wow-duration="2s" 
                 data-wow-delay=".5s">
                <h3 class="gfont">Top-10 Students in CodeClub:</h3> </br>
                <div class="row">
                    <div class="col-md-9 hidden-xs" style="padding-left:30px;">
                   
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 97%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">1</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 90%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">2</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 85%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">3</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 80%;">
                              <span class="sr-only">83% Complete</span>
                                <p class="par">4</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 75%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">5</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 70%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">6</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 65%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">7</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 55%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">8</p>
                            </div>
                          </div>
                        
                          <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 51%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">9</p>
                            </div>
                          </div>
                
                        <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-
                                 valuemax="100"
                                 style="height: 40%;">
                              <span class="sr-only">60% Complete</span>
                                <p class="par">10</p>
                            </div>
                          </div>
                    </div><!-- end of bar div-->
                    <div class="col-md-3 ">
                        <h5><h4 >Student Names:</h4></h5>
                        <ol>
                            <li>Ali Salem.</li>
                            <li>Sara Younis.</li>
                            <li>Salam Zahdeh.</li>
                            <li>Naji Ibraheem.</li>
                            <li>Shaza Naser.</li>
                            <li>Ali Salem.</li>
                            <li>Sara Younis.</li>
                            <li>Salam Zahdeh.</li>
                            <li>Naji Ibraheem.</li>
                            <li>Shaza Naser.</li>
                        </ol>
                    </div>
                </div>
            </div>
        <div class="col-md-4 visible-md"></div>
        <div class="col-md-3 stdOfYear wow bounceInRight" data-wow-duration="2s"
             data-wow-delay=".5s">
            <h4 class="gfont">Student of the year</h4>
            <img src="images/student.jpg" alt="student" class="stdImg">
            <p>
              <h4 class="gfont">Yousef Jbour.</h4>
              <span class="gfont">125 pts.</span>
            </p>
        </div><!--student of the year -->
        </div>
    </div>
</section>
    <div class="clearfix"></div>
    <!--************************* End top 5  ************************ -->
    
    <!--************************* Start Event Section  ************************ -->
<a name="nxtEvntAnchor"></a>
<section class="event text-center">
    <div class="container">
        <h1 class="gfont">CodeClub Events</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 wow zoomIn" data-wow-duration="2s" data-wow-delay=".5s">
                <div class="panel panel-success">
                    <div class="panel-heading">
                    <h3 class="panel-title">Drawing</h3>
                    </div>
                     <div class="panel-body text-center">
                       <div class="row">
                           <div class="col-md-8 eventBox">
                               <p><span>Date: </span>17 Feb 2016.</p>
                               <p><span>Hour: </span>11:00 am.</p>
                               <p><span>Points: </span>25 pts.</p>
                               <p><span>Discreption: </span></p>
                               <p>As a part of smart homes, a subsystem consisting of three components including a neural network is designed to provide personalized services. Unique factor combinations of building specifics, user profiles and external influences lead to the necessity of self-adaptive systems for personal comfort. The system supports room temperature control in order to heat rooms energy.</p>
                               <button class="btn btn-success btn-block">Join Event</button> 
                           </div>
                           <div class="col-md-4 eventBox">
                               <img src="images/events/drawing.jpg" alt="event picture">
                           </div>
                           <div class="clear-fix">
                           
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div> 
            </div> <!-- End of first Event-->
        
    
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 wow zoomIn" data-wow-duration="2s" data-wow-delay=".5s">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                        <h3 class="panel-title">Sport</h3>
                        </div>
                         <div class="panel-body text-center">
                           <div class="row">
                               <div class="col-md-8 eventBox">
                                   <p><span>Date: </span>17 Feb 2016.</p>
                                   <p><span>Hour: </span>11:00 am.</p>
                                   <p><span>Points: </span>25 pts.</p>
                                   <p><span>Discreption: </span></p>
                                   <p>As a part of smart homes, a subsystem consisting of three components including a neural network is designed to provide personalized services. Unique factor combinations of building specifics, user profiles and external influences lead to the necessity of self-adaptive systems for personal comfort. The system supports room temperature control in order to heat rooms energy.</p>
                                 <button class="btn btn-success btn-block">Join Event</button>  
                               </div>
                               <div class="col-md-4 eventBox">
                                   <img src="images/events/ball.jpg" alt="event picture">
                               </div>
                               <div class="clear-fix">

                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div> 
            </div><!-- End of Second Event-->
        
            <!--******************  Old Events  ****************-->
            <a name="oldEvntAnchor"></a>
            <h1 class="gfont">Old Events</h1>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 wow zoomIn" data-wow-duration="2s" data-wow-delay=".5s">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                        <h3 class="panel-title">Game Challenges</h3>
                        </div>
                         <div class="panel-body text-center">
                           <div class="row">
                               <div class="col-md-8 eventBox">
                                   <p><span>Date: </span>17 Feb 2016.</p>
                                   <p><span>Hour: </span>11:00 am.</p>
                                   <p><span>Points: </span>25 pts.</p>
                                   <p><span>Discreption: </span></p>
                                   <p>As a part of smart homes, a subsystem consisting of three components including a neural network is designed to provide personalized services. Unique factor combinations of building specifics, user profiles and external influences lead to the necessity of self-adaptive systems for personal comfort. The system supports room temperature control in order to heat rooms energy.</p>
                                  
                               </div>
                               <div class="col-md-4 eventBox">
                                   <img src="images/events/games.jpg" alt="event picture">
                               </div>
                               <div class="clear-fix">

                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                </div><!-- End of Second Event-->
                
        
        </div>
    </div>
</section>
    <!--************************* End Event Section  ************************ -->
    